
Spells/build.xml
Spells/.project
Spells/.externalToolBuilders
Spells/.classpath
Spells/.settings
/.metadata/
Spells/bin
Server
*.ant
/WynnSpells/
/BreedTime/
/SpellScriptExploration/
SpellScriptAPIExample/.classpath
